{% extends 'msg.html' %}

{% block header %}
  <h2 class="alert">{% block title %}Protected content{% endblock %}</h2>
{% endblock %}

{% block content %}
    <div class="alert"> Please log in in order to view this content. </div>
    <br />
    <button href="/login"
                                       id="login-btn"
                                       class="login-btn"
                                       onclick="location.href='/login'"
    > Log In</button>
{% endblock %}